* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 19px 5.12445vw 19px 2.9282vw;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.logo {
  display: flex;
  gap: 1.02489vw;
  align-items: center;
}

.icon {
  max-width: 4.392vw;
}

.title {
  font-weight: 700;
  font-size: 2.928vw;
  line-height: 48px;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.sentence {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7569vw;
  line-height: 30px;
  text-align: right;

  color: #ffffff;
}
